@charset "UTF-8";

ul#downloadIndicator li {
    border: 1px solid green;
    display: inline;
    margin: 0 0.5em;
}

div.mechBoundingBox {
    border: 1px solid green;
    position: relative;
    margin: 40px;
    overflow: hidden;
    width: 360px;
    height: 425px;
    padding: 0;
    z-index: 0;

    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

span.mechAnimationContainer {
    position: absolute;
    width: 360px;
    height: 425px;
    padding: 0;
    z-index: 1;
    
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

span.mechAnimationContainer img {
    border: 1px solid red;
    position: relative;
    width: 360px;
    height: auto;
    padding: 0;

/*    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
*/}

span.mechAncileryImages {
    position: absolute;
    width: 360px;
    height: 425px;
    padding: 0;
    z-index: 2;

    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;   
}

div.cursorBox{
    position: absolute;
    border: 1px solid purple;
    width: 32px;
    height: 28px;
    z-index: 3;
}

*/.cursor-none {
    cursor: none;
}
.cursor-drag {
    /*cursor: url("cursorImages/cuDrag.ico"), auto;*/
        cursor: url("cursorImages/cuDrag1.cur"), auto;
}
.cursor-over {
    /*cursor: url("cursorImages/cuOver.ico"), auto;*/
        cursor: url("cursorImages/cuOver1.cur"), auto;
}
.cursor-reduce {
    /*cursor: url("cursorImages/cuReduce.ico"), auto;*/
        cursor: url("cursorImages/cuReduce1.cur"), auto;
}
.cursor-zoom-drag {
    /*cursor: url("cursorImages/cuZoomDrag.ico"), auto;*/
        cursor: url("cursorImages/cuZoomDrag1.cur"), auto;
}