@charset "UTF-8";

ul#downloadIndicator li {
    border: 1px solid green;
    display: inline;
    margin: 0 0.5em;
}

div.mechBoundingBox {
    position: relative;
    margin: 40px;
    overflow: hidden;
    width: 360px;
    height: 425px;
    padding: 0;
    z-index: 0;

    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

span.mechAnimationContainer {
    cursor: inherit;
    position: absolute;
    height: 425px;
    width: 360px;
    padding: 0;
    z-index: 1;
    
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

span.mechAnimationContainer img {
    cursor: inherit;
    position: absolute;
    width: 360px;
    height: auto;
    padding: 0;
    z-index: 1;

}

span.mechAncileryImages {
    cursor: inherit;
    position: absolute;
    width: 360px;
    height: 425px;
    padding: 0;
    z-index: 2;

    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;   
}
