@charset "UTF-8";

ul#downloadIndicator li {
    display: inline;
    margin: 0 0.5em;
}
div.animation {
    margin: 40px;
    overflow: hidden;
    width: 360px;
    height: 428px;
}
div.animation img {
    position: relative;
    width: 300px;
    height: auto;
}
